extends layouts/email-layout
include mixins/_button
block preHeader
    - let previewText = subject

block content
    table.main(role='presentation')
        tbody
            tr
                td.wrapper
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                            tr
                                td
                                    p Hi #{username},
                                    p
                                        | You have requested a password reset. Please use following code to continue on with resetting your password. Please note this code is only valid for the next hour.
                                    +button(resetUrl, 'Reset Password →')
                                    p
                                        | If you haven't requested the code please ignore the email.
                                    p Thank you!.
