extends layouts/email-layout
include mixins/_button
block preHeader
    - let previewText = subject

block content
    table.main(role='presentation')
        tbody
            tr
                td.wrapper
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                            tr
                                td
                                    p Hi #{username},
                                    p
                                        | You have requested a #{subject.toLowerCase()}. Please use following code to complete the action. Please note this link is only valid for the next hour.
                                    +button(link, `${subject} →`)
                                    p
                                        | If you haven't requested the code please ignore the email.
                                    p Thank you!.
