extends email-layout

block content
    h2 Password Reset
    p Hello #{username},
        br You have requested a password reset. Please use following code to continue on with resetting your password. Please note this code is only valid for the next hour.
    p Code: #{code}
    br
    p If you didn't request this email, please ignore it.
